* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
}

.sidebar img {
  width: 18px;
  height: auto;
}

.upper-profile,
.side-cards img {
  width: 40px;
  height: auto;
}

.main-profile-image {
  width: 75px;
  height: auto;
}

.icon {
  width: 20px;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: minmax(225px, 0.8fr) 4fr;
  grid-template-rows: minmax(200px, 0.7fr) 800px;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  /*background-color: #6495ed;*/
  color: white;
  background-color: rgb(50, 124, 235);
  font-weight: 550;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(12, 50px);
}

.sidebar-list-2 {
  grid-row: 7/10;

  width: 150px;
}

.sidebar-list-1 {
  grid-row: 2/6;
  width: 150px;
}

.sidebar li {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.logo img {
  width: 35px;
}

.logo {
  font-size: 22.5px;
  width: 200px;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  align-items: center;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 80px);
  grid-template-columns: 2fr 1fr;
  padding-left: 25px;
  padding-right: 50px;
  background-color: white;
  height: 175px;
  box-shadow: 2px 3px 5px 1px gainsboro;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search img {
  width: 25px;
}

input {
  height: 30px;
  background-color: rgb(233, 233, 233);
  border: 1px solid white;
  border-radius: 15px;
  width: 650px;
}

.greet {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
}

.top-nav {
  display: flex;
}

.nav-buttons {
  display: flex;
  grid-column-start: 2;
}

.greet img {
  height: 75px;
  width: auto;
  margin-left: 5px;
}

.greet {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.user {
  font-size: x-large;
}

button {
  color: white;
  background-color: rgb(50, 124, 235);
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
  border-radius: 25px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-nav img {
  height: 50px;
  width: auto;
}

.top-nav .alert-icon {
  height: 23px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 30px;
}

.main-body {
  display: grid;
  grid-template-columns: repeat(2, 400px) 300px;
  grid-template-rows: repeat(2, 220px) 250px;
  gap: 10px;
}

.main-cards,
.side-cards {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px gainsboro;
}

.first {
  grid-row: 1/2;
  grid-column: 1/2;
}

.second {
  grid-row: 1/2;
  grid-column: 2/3;
}

.third {
  grid-row: 2/3;
  grid-column: 1/2;
}
/*
.side-card-1 {
  grid-row: 1/3;
  grid-column: 3/4;
 
  
}*/

.fourth {
  grid-row: 2/3;
  grid-column: 2/3;
}

.fifth {
  grid-row: 3/4;
  grid-column: 1/2;
}

.sixth {
  grid-row: 3/4;
  grid-column: 2/3;
}

/*
.side-card-2 {
  grid-row: 3/4;
  grid-column: 3/4;
  display: grid;
}*/

.main-cards {
  height: 160px;
  width: 320px;
  box-shadow: inset 8px 0 0 0 rgb(255, 170, 0), 2px 3px 5px 1px gainsboro;
  padding: 20px;
  margin-top: 30px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.685);
  display: flex;
  flex-direction: column;
}

.main-cards strong {
  font-size: medium;
  display: block;
}

.main-cards strong,
.main-cards div {
  color: black;
}

.inner-icon {
  display: flex;
  justify-content: space-around;
  width: 150px;
  align-self: flex-end;
  margin-top: auto;
  
  
  
}

.side-cards {
  height: 300px;
  width: 250px;
}

.main-cards:nth-child(odd) {
  justify-self: end;
}

.title {
  position: absolute;
  top: 205px;
  font-weight: bold;
  font-size: large;
  /*Not a very good solution*/
}

.section {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: small;
  font-weight: bold;
}
.side-text {
  font-size: smaller;
  padding-bottom: 20px;
  font-weight: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}

.no-border {
  border: none;
}

.right-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}
