* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.sidebar img {
  width: 18px;
  height: auto;
}

.upper-profile,
.side-cards img {
  width: 40px;
  height: auto;
}

.main-profile-image {
  width: 75px;
  height: auto;
}

.icon {
  width: 20px;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: minmax(225px, 0.8fr) 4fr;
  grid-template-rows: 1fr 3fr;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  /*background-color: #6495ed;*/
  color: white;
  background-color: rgb(25, 146, 212);
  font-weight: 550;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(12, 50px);
}

.sidebar-list-2 {
  grid-row: 7/10;

  width: 150px;
}

.sidebar-list-1 {
  grid-row: 2/6;
  width: 150px;
}

.sidebar li {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.logo img {
  width: 35px;
}

.logo {
  font-size: 22.5px;
  width: 200px;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  align-items: center;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 3fr 2fr;
}

.search {
  display: flex;
  align-items: center;
}

input {
  height: 20px;
  background-color: rgb(233, 233, 233);
  border: 1px solid white;
  border-radius: 15px;
  width: 300px;
}

.greet {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
}

.top-nav {
  display: flex;
}

.nav-buttons {
  display: flex;
  grid-column-start: 2;
}

.greet img {
  height: 75px;
  width: auto;
}

.greet {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.user {
  font-size: x-large;
}

button {
  color: white;
  background-color: rgb(25, 146, 212);
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
  border-radius: 25px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
